        <nav>
            <a href="/about">
                About
            </a>
            <br>
            <a href="/login">
                Login
            </a>
            <br>
            <a href="/measurement">
                view measurement
            </a>
            <br>
            <a href="/register">
                Register
            </a>
            <br>
            <a href="/">
                <button type="submit">logout</button>
            </a>

        </nav>