<div>
    <h1>About</h1>

    <p>This application is a platform for users to track and manage their measurements.</p>
    <p>Here's what you can do with it:</p>
    <ul>
        <li>Create and record measurements for various types (e.g., temperature, weight, pressure).</li>
        <li>View and edit your existing measurements.</li>
        <li>Filter and sort measurements based on place, date, type, and other criteria.</li>
        <li>Track your progress over time and gain insights into your data.</li>
        {{#if isLoggedIn}}
        <li>Securely manage your account and profile.</li>
        {{/if}}
    </ul>

    <h2>Features</h2>
    <p>Here are some of the key features of the application:</p>
    <ul>
        <li>Easy-to-use interface for recording and managing measurements.</li>
        <li>Flexible data management with different measurement types and filtering options.</li>
        {{#if isLoggedIn}}
        <li>Secure user accounts and personalized profiles.</li>
        {{/if}}
        <li>Responsive design for optimal viewing on various devices.</li>
    </ul>

    <h2>Technology Stack</h2>
    <p>This application is built using the following technologies:</p>
    <ul>
        <li>NodeJs</li>
        <li>MongoDB</li>
        <li>Express</li>
        <li>Handlebars</li>
        <li>Passport</li>
    </ul>

    <h2>Contact</h2>
    <p>If you have any questions or feedback, please feel free to contact us at:</p>
    <ul>
        <li>Email: nnanna.otuh@edu.novia.fi</li>
    </ul>
</div>