<h1>{{title}}</h1>
<p class="homepage">Welcome to {{title}}</p>
<h1>{{message}}</h1>
<br>
<h3>
    <a href="/measurementIndex">
        View all measurements here
    </a>
</h3>
{{#if messages.error}}
<div class="alert alert-danger" role="alert">
    {{messages.error}}
</div>
{{/if}}