* {
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.container {
    width: 970px;
    margin: 0 auto;
    display: flex;
    flex: 1;
    flex-direction: row;
}

main {
    flex: 60%;
    padding: 20px;
    background-color: #f2f2f2;
    justify-content: center;
}

nav {
    flex: 20%;
    padding: 0 10px;
    order: -1;
    background-color: #c8f1fa;
}


aside {
    flex: 20%;
    padding: 0 10px;
    background-color: #c8f1fa;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgb(30, 30, 175);
}

ul {
    gap: 20px;
    padding: 3px;
}

li {
    padding: 3px;
    text-align: center;
    background-color: #c8f1fa;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    display: block;
}

button[type='submit'] {
    font: 15px Calibri;
    cursor: pointer;
    border: none;
    color: #FFF;
    background-color: black;
}

input {
    font: 17px Calibri;
    text-align: center;
    border: solid 1px #CCC;
    padding: 2px 3px;
}

.allpages {
    text-align: center;
}

header,
nav,
main,
aside,
footer {
    padding: 20px;
}

header,
footer {
    background-color: #fedcab;
    color: blue;
    text-align: center;
}