body {
    width: 970px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .container {
    display: flex;
    flex: 1;
  }
  main {
    border: solid black 3px;
    flex: 50%;
    padding: 0 20px;
  }
  nav {
    border: solid black 3px;
    flex: 0 0 25%;
    padding: 0 10px;
    order: -1;
  }
  aside {
    border: solid black 3px;
    flex: 0 0 25%;
    padding: 0 10px;
  }


h1, h2 {
    color:rgb(30, 30, 175);
}

h4.success {
    color:rgb(0, 255, 55);
}
h4.failure {
    color:rgb(255, 0, 0);
}

img {
    width: 250px;
}

table {
    width: 100%;
    font: 17px Calibri;
}

table, th, td {
    border: solid 1px #DDD;
    border-collapse: collapse;
    padding: 2px 3px;
    text-align: center;
}

label {
    display: block ;
}

input[type='button'] {
    font: 15px Calibri;
    cursor: pointer;
    border: none;
    color: #FFF;
}

input[type='text'], select  {
    font: 17px Calibri;
    text-align: center;
    border: solid 1px #CCC;
    width: auto;
    padding: 2px 3px;
}
.allpages {
    text-align: center;
}